</body>
<footer id="contact">
  <div class="footer-padding">


    <div class="footer" action="index.html" method="post">
      <a href="https://www.linkedin.com/in/lucas-moreira-botelho-18298715b/" target="_blank" class="instagram"><i class="fab fas-feat fa-linkedin"></i></a>
      <a href="https://github.com/Lukelupus" target="_blank"><i class="fab fas-feat fa-github"></i></a>
      <a href="https://stackoverflow.com/users/16800271/lukelupus" target="_blank"><i class="fab fas-feat fa-stack-overflow"></i></a>
      <a href="https://www.instagram.com/luke.boti.lorken/" target="_blank"><i class="fab fas-feat fa-instagram"></i></a>
      <div class="popup" onclick="myFunction()"><i class="fas popup fas-feat fa-envelope"></i>
    <span class="popuptext" id="myPopup">luke.boti.lorken@gmail.com</span>
  </div>
  <script>

  function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
  }
  </script>
      </div>



  </div>
</footer>

</html>
