<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">

  <title>Lucas Moreira Botelho</title>

  <script src="https://kit.fontawesome.com/661e8b64fb.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap" rel="stylesheet">
</head>


<body>


  <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-md navbar-light">
    <div class="container-fluid">
      <img class="logo" src="images/gostosao.png" alt="gostosao">
      <a class="navbar-brand justify-content-center special" href="/home">Lucas Moreira Botelho</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active  custom-tab" aria-current="home" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  custom-tab" href="profile">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  custom-tab" aria-current="skills" href="skills">Competências</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  custom-tab" href="portfolio">Portfólio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>
