<%- include('partials/header'); -%>
<h1>Oi! Meu nome é Lucas,</h1>
<p>Bem vindo ao meu site-currículo!</p>

<div id="skills" class="skills-list row mobile-text">

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <img src="/images/merussia.png" alt="lucas-boti-scotland">
    </div>

  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="skill-row card-body">
      <h3 class="profile">Sobre mim</h3>
      <p class="text">Sou um desenvolvedor mas também um mestre em biologia. Foi durante o mestrado que comecei a programar.</p>
      <p class="text">Comecei com R e Python, mas me apaixonei por HTML, CSS, JavaScript, Node.js e muito mais!</p>
      <p class="text">Gosto de aprender, gosto de resolver problemas, de ouvir música, de boas conversas e cozinhar. ❤ </p>


    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="skill-row card-body">
      <h3>Habilidades</h3>
      <ul class="lists">
        <li class="front-page-item">HTML, CSS, JavaScript</li>

        <li class="front-page-item">Git, GitHub, Version Control</li>

        <li class="front-page-item">SQL e NoSQL Databases</li>
        <li class="front-page-item">Node.js, EJS, Heroku</li>
        <li class="front-page-item">React.js</li>
      </ul>

    </div>

  </div>





</div>



<!-- adicionar as infor abaixo -->




<%- include('partials/footer'); -%>
