<%- include('partials/header'); -%>

<h1>Portfólio</h1>
<p>Todo o processo criativo vem de exercícios, estudo de templates e diversão!</p>
<div class="fit-better">


  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item container-fluid active" data-bs-interval="10000">
      <a href="https://lukelupus.github.io/The-Simon-Game/" target="_blank"><img src="/images/simongame.png" class="d-block w-100" alt="simon-game"></a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Simon Game</h4>
          <p class="portfolio-p">Um jogo criado com JavaScript que te desafia a repetir sequências aleatórias de cada cor, pressionando os botões coloridos na ordem correta.</p>
        </div>
      </div>
      <div class="carousel-item container-fluid" data-bs-interval="10000">
        <a href="https://lukelupus.github.io/TinDog-Real/" target="_blank"><img src="/images/tdog.png" class="d-block w-100" alt="tin-dog"></a>
        <div class="carousel-caption d-none d-md-block">
          <h4>TinDog</h4>
          <p class="portfolio-p">Um Tinder pra seu cachorro! Um site divertido para mostrar algumas habilidades Frontend, realizado durante o curso da AppBrewey.</p>
        </div>
      </div>
      <div class="carousel-item container-fluid" data-bs-interval="10000">
        <a href="https://lukelupus.github.io/Drum-Kit-Exercise/" target="_blank"><img src="/images/drum.png" class="d-block w-100" alt="drums"></a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Drum Kit</h4>
          <p class="portfolio-p">Já tocou bateria? Não? Então olha que legal! Se sim, olha também! Este foi um exercício de utilização de sons e imagens usando HTML, CSS3 e JavaScript!.</p>
        </div>
      </div>
      <div class="carousel-item container-fluid" data-bs-interval="10000">
      <a href="https://calm-savannah-08177.herokuapp.com/Feedback" target="_blank"><img src="/images/fback.png" class="d-block w-100" alt="feedback"></a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Lista de Feedback</h4>
          <p class="portfolio-p">Gostou desse site? Do meu portfolio? Deixa seu feedback nessa lista aqui, me ajuda bastante! Incluse, todos os itens aqui listado são salvados no MongoDB!</p>
        </div>
      </div>
      <div class="carousel-item container-fluid" data-bs-interval="10000">
        <a href="home" target="_blank"><img src="/images/cvsite.png" class="d-block w-100" alt="gostosao"></a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Meu site pessoal</h4>
          <p class="portfolio-p">Este mesmo que você está vendo. E essa é só a primeira versão!</p>

        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon icon-style" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon icon-style" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<%- include('partials/footer'); -%>
