<%- include('partials/header'); -%>

<h1>Perfil Profissional</h1>
<p>Para projetos e contato: luke.boti.lorken@gmail.com | (31)99182-0805</p>
<div id="skills" class="skills-list row">

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">

<img src="images/profile2.png" alt="me-profile">
    </div>

  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="skill-row card-body">
      <h3 class="exp">Perfil</h3>
      <p class="text profile">Iniciando a carreira como Desenvolvedor com talento para criar soluções elegantes no menor tempo possível e paixão por programação.</p>
      <p class="text profile">Desenvolvi um webapp de listas, jogos usando JavaScript com um pouco de CSS, este site-currículo e outros. Clica<a href="porfolio"> <b>aqui</b></a> para ver!</p>
      <p class="text profile">Apaixonado por arquitetura de sites, design e servidores. Novo participante e apreciador de tweets/memes de desenvolvedores e hackathons.</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="skill-row card-body">
        <h5 class="exp exp-char">Características Profissionais</h5>
        <ul class="lists">

          <li><i class="fas fa-angle-right list-style"></i>Liderança<i class="fas fas-char fa-angle-right list-style"></i>Dedicação</li>
          <li><i class="fas fa-angle-right list-style"></i>Criatividade<i class="fas fas-commit fa-angle-right list-style"></i>Comprometimento</li>
          <li><i class="fas fa-angle-right list-style"></i>Proatividade<i class="fas fas-proac fa-angle-right list-style"></i>Trabalho em equipe</li>
          <li><i class="fas fa-angle-right list-style"></i>Comunicativo</li>
        </ul>
        <h5 class="exp exp-char">Experiência</h5>
        <ul class="lists">
          <li class="exp-ico"> 2021 - Atualmente: Desenvolvedor Fullstack</li>
          
          <li class="exp-ico">2020-2021: Target - Medicina de Precisão</li>
          <ul class="lists">
            <li>Líder de equipe, gerenciamento de prazos e gerenciamento de crise</li>
              </ul>
        </ul>
    </div>

  </div>





</div>


<%- include('partials/footer'); -%>
