<%- include('partials/header'); -%>

<h1>Competências</h1>
<p>Fullstack WebDev | Frontend | Backend | JavaScript | Node.js | git</p>
<div id="skills" class="skills-list row">

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <img src="images/mefort.png" alt="lucas-boti-scotland">
    </div>

  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="skill-row card-body">
      <h3>Front-End</h3>
      <ul class="lists">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>JQuery</li>
        <li>Modelo de Objeto de Documento (DOM)</li>
        <li>Linha de Comando (Unix Command Line)</li>
        <li>Design Responsivo</li>
        <li>Controle de Versões</li>
        <li>React.js</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="skill-row card-body">
      <h3>Back-End</h3>
      <ul class="lists">
        <li>Node.js</li>
        <li>Express.js</li>
        <li>APIs</li>
        <li>EJS</li>
        <li>Heroku</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
        <li>Autenticação e Segurança</li>
        <li>Git</li>
      </ul>
    </div>

  </div>





</div>



<%- include('partials/footer'); -%>
